.intro {       
    font-size: 72px;
    background: var(--main-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-family: "Protest Riot", sans-serif;   
}
.intro-text {
    text-align: center;    
}
.subintro {
    font-size: 20px;
}
.intro-text p, .intro-text h1{
    margin: 0;
}
.card {
    padding: 20px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
  }
  